{% extends "base_generic.html" %}

<script>
    {% block jquery %}
    var endpoint = '/todolist/api/chart/data'
    var defaultData = []
    var labels = [];
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels
            defaultData = data.default
            setChart()

        },    
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
    function setChart(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: defaultData,
                    backgroundColor: [
                        'rgba(115, 101, 152, 1)',
                        'rgb(94, 222, 158)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(115, 101, 152, 1)',
                        'rgb(94, 222, 158)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                        //get the concerned dataset
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        //calculate the total of this data set
                        var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        //get the current items value
                        var currentValue = dataset.data[tooltipItem.index];
                        //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                        var percentage = Math.floor(((currentValue/total) * 100)+0.5);

                        return percentage + "%";
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });         
    }
    // var ctx = document.getElementById('myChart').getContext('2d');
       
    {% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <h1>Todo Statistics</h1>
        {% if user.is_authenticated %}
            <div class= 'col-sm-4' id='chart'>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        {% else %}
            <br>
            <p>You need to be logged in to see the content!</p>
        {% endif %}
    </div>
</div>
{% endblock content %}